body {
  background: #e4e4e4;
  height: 100vh;
  margin: 0;
}

.rhg-root {
  height: 100vh;
  display: grid;
  grid-template-columns: min-content 8px 1fr min-content;
  grid-template-rows: min-content 1fr min-content;
}

header,
footer {
  background: #ffcdd2;
  grid-column: 1 / -1;
}

aside {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  background: #e1bee7;
  resize: both;
  position: relative;
}

aside .horizontal-resizer {
  height: 100%;
  width: 8px;
  right: 0;
  top: 0%;
  position: absolute;
  background: rgba(102, 51, 153, 0.342);
  cursor: col-resize;
}

nav {
  grid-column: 2 / 3;
  background: #bbdefb;
}

main {
  grid-column: 2 / 4;
  background: #dcedc8;
  overflow: auto;
}

/*
.rhg-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
footer {
  height: 1em;
  background: #ffcdd2;
}

aside {
  width: 10em;
  background: #e1bee7;
}

nav {
  display: none;
}

main {
  display: flex;
  height: 100%;
}

article {
  flex: 1;
}
*/
